.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: rgb(163, 222, 233);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(34, 150, 218);
    margin-bottom: 10px;
} 